include LICENSE
include README.rst
include README.upgrading.rst
include RELEASE-NOTES.rst
include ssh_dispatch.py
recursive-include django_anyvcs/migrations *.py
recursive-include django_anyvcs/south_migrations *.py *.json
